html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --brand-color: white;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-box {
  width: 50%;
}

.brand-box {
  width: 50%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font: 3em sans-serif;
}

.ad-box {
  width: 50%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  display: none;
}

.search-btns {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.search-btn {
  width: 200px;
  margin: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
  
footer {
  background-color: var(--brand-color);
  padding: 10px;
  text-align: center;
  font: small;
}
