---
layout: default
---
<img src="{{ 'assets/images/ahoqueali.png' | relative_url }}" alt="ahoqueali" style="width:100px; border-radius:50%; display:inline-block; vertical-align:middle; margin-right:12px; margin-top:-80px;" />
<span style="display:inline-block; vertical-align:middle; margin-bottom:20px;">
    <strong style="display:block;">Software Architect</strong>
    <a href="mailto:ahoque.ali@ahoque.org" style="font-size:0.85em;">ahoque.ali@ahoque.org</a>
</span>
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

{{ content }}